@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {margin:0; padding:0; box-sizing: border-box;}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

header{
  color: red;
  font-size: 30px;
  line-height: 128px;
  font-weight: bold;
}

footer{
  line-height: 128px;
  float: left;
  color: white;
  font-size: 15px;
}

div#main{
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 64px rgb(32,32,32);
  width: 1024px;
  padding-left: 30px; padding-right: 30px;
}

div#top{
  width: 896px; height: 96px;
  background: center / contain no-repeat url("fig-top.jpg");
}
div#bottom{
  position: relative;
  margin-top: 30px;
  width: 896px; height: 65px;
  background: center / contain no-repeat url("fig-bot.jpg");
}

a{
  display: block;
  color: black;
  font-size: min(3vw,30px);
  font-weight: bold;
  cursor: default;
  margin: 20px auto;
}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

div.table_cont{
  display: flex;
  justify-content: center;
  width: 80vw;
}

table {
  table-layout: fixed;
  word-break: break-all;
  max-width: 750px;
  width: 100%;
  height: auto;
  font-size: min(2vw,19px);
  border: 1px solid #444444;
  border-collapse: collapse;
  text-align: center;
}
td {
  border: 1px solid #444444;
  padding: 5px;
}
tr td:first-child{
  width: 40px;
}

p{
  display: inline;
  background-color: yellow;
  color: red;
  font-weight: bold;
}

div#calendar{
  position: absolute;
  bottom: 40px; right: 1px;
  z-index: 1;
  border: soild 2px red;
}

div#jan{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-jan.jpg");
}
div#feb{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-feb.jpg");
}
div#mar{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-mar.jpg");
}
div#apr{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-apr.jpg");
}
div#may{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-may.jpg");
}
div#jun{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-jun.jpg");
}
div#jul{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-jul.jpg");
}
div#aug{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-aug.jpg");
}
div#sep{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-sep.jpg");
}
div#oct{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-oct.jpg");
}
div#nov{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-nov.jpg");
}
div#dec{
  width: 300px; height: 200px;
  background: right / contain no-repeat url("calendar/fig-dec.jpg");
}

.notExist{
  display: none;
}
button{
  position: absolute;
  bottom: 0px; right: 1px;
  height: 40px; width: 100px;
  border: none; outline: none;
}

button#PrevMonth{
  bottom: 175px; right: 225px;
  width: 35px; height: 20px;
}
button#NextMonth{
  bottom: 175px; right: 3px;
  width: 35px; height: 20px;
}

.invisible{
  opacity: 0;
}
