@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {margin:0; padding:0; box-sizing: border-box;}

body{
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 50px;
  color: #20C20C;
}
